In [ ]:
# Connection to database

sqlite3.connect(database [,timeout ,other optional arguments])



This API opens a connection to the SQLite database file. 

You can use ":memory:" to open a database connection to a database that resides in RAM instead of on disk. 

# COnnection using cursor to fetch
connection.cursor([cursorClass])

1.Declare a cursor that defines a result set. 
2.Open the cursor to establish the result set. 
3.Fetch the data into local variables as needed from the cursor, one row at a time. 
4.Close the cursor when don

# Execute - Using cursor
cursor.execute(sql [, optional parameters])

The SQL statement may be parameterized (i. e. placeholders instead of SQL literals). 
The sqlite3 module supports two kinds of placeholders: 
    question marks(??) and 
    named placeholders (named style).
    
 # Execute  - directly using connection 
connection.execute(sql [, optional parameters])

# Execute many

cursor.executemany(sql, seq_of_parameters)
connection.executemany(sql[, parameters])

#Script
cursor.executescript(sql_script)
connection.executescript(sql_script)

# only using connection
connection.total_changes()
connection.commit()
connection.rollback()
connection.close()

cursor.fetchone()
cursor.fetchmany([size = cursor.arraysize])
cursor.fetchall()

In [ ]:
import sqlite3

conn = sqlite3.connect('test.db')
print ("Opened database successfully");

conn.execute('''CREATE TABLE COMPANY
         (ID INT PRIMARY KEY     NOT NULL,
         NAME           TEXT    NOT NULL,
         AGE            INT     NOT NULL,
         ADDRESS        CHAR(50),
         SALARY         INT;''');
print ("Table created successfully");

conn.close()

In [ ]:
import sqlite3

conn = sqlite3.connect('test.db')
print ("Opened database successfully");

conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (1, 'Paul', 32, 'California', 20000.00 )");

conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (2, 'Allen', 25, 'Texas', 15000.00 )");

conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (3, 'Teddy', 23, 'Norway', 20000.00 )");

conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (4, 'Mark', 25, 'Rich-Mond ', 65000.00 )");

conn.commit()
print ("Records created successfully");
conn.close()

In [ ]:
import sqlite3

conn = sqlite3.connect('test.db')
print ("Opened database successfully");

cursor = conn.execute("SELECT id, name, address, salary from COMPANY")
for row in cursor:
   print "ID = ", row[0]
   print "NAME = ", row[1]
   print "ADDRESS = ", row[2]
   print "SALARY = ", row[3], "\n"

print ("Operation done successfully");
conn.close()

In [ ]:
import sqlite3

conn = sqlite3.connect('test.db')
print "Opened database successfully";

conn.execute("UPDATE COMPANY set SALARY = 25000.00 where ID = 1")
conn.commit
print "Total number of rows updated :", conn.total_changes

cursor = conn.execute("SELECT id, name, address, salary from COMPANY")
for row in cursor:
   print "ID = ", row[0]
   print "NAME = ", row[1]
   print "ADDRESS = ", row[2]
   print "SALARY = ", row[3], "\n"

print "Operation done successfully";
conn.close()

In [ ]:
mport sqlite3

conn = sqlite3.connect('test.db')
print "Opened database successfully";

conn.execute("DELETE from COMPANY where ID = 2;")
conn.commit()
print "Total number of rows deleted :", conn.total_changes

cursor = conn.execute("SELECT id, name, address, salary from COMPANY")
for row in cursor:
   print "ID = ", row[0]
   print "NAME = ", row[1]
   print "ADDRESS = ", row[2]
   print "SALARY = ", row[3], "\n"

print "Operation done successfully";
conn.close()